body {
    text-align: center;
    background-color:rgb(195, 232, 240);
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    background-color:  #c382f1;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 25%;
    margin-bottom: 10px;
    background-color: #e2d5eb;
}

label {
    padding: 10px;
    background-color:  #c382f1;
    color: #000000;
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block;
}

.lbl{
    padding: 10px;
    width: 30%;
    background-color:  #ffffff;
    color: #000000;
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block;

}

p {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c382f1;
    color: #010101;
    text-align: center;
    padding: 10px 0;
}


